body{
	  font-family: 'Lato',"Lucida grande", tahoma, helvetica, arial, sans-serif;
	  font-size: 120%;
	  line-height: 1.4;
	  margin: 0;
	  color: #555;
	}
	

body.Background0 {
  background: #efefef url(../images/Background0.jpg) repeat;
}
body.Background1 {
  background: #efefef url(../images/Background1.jpg) repeat;
}
body.Background2 {
  background: #efefef url(../images/Background2.jpg) repeat;
}
body.Background3 {
  background: #efefef url(../images/Background3.jpg) repeat;
}
a{color:#555;text-decoration:underline;}
em{
	color:#000;
	font-style:normal;
}


h1{
	font-size:240%;
	font-family:'Lato', 'Gill Sans', Helvetica, Arial, sans-serif;
	font-weight:normal;
}
h1 .des{
	color:#444;
}
h1 .traynor{color:#777;}
h2.title{
	display:none;
}

p,ul{
	width:40em;
	margin-bottom:1.5em;	
}
ul.ThreeCol{
	width:15em;
	
}
img{
	padding:20px;
}
#switcher { position: absolute; right: 10px; bottom: 10px; }